
.expandable-text {
    max-height: 170px; /* Initial height */
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.expandable-text3{
      max-height: 200px;
    overflow: hidden;
   /* Adjust height as needed */
    transition: max-height 0.5s ease; /* Smooth transition effect */
}
.expandable-text2 {
    max-height: 300px; /* Initial height */
    overflow: hidden;
    transition: max-height 0.5s ease;
}
